<!-- chat/templates/chat/room.html -->
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>

<body>
    <div id="chat-box">
        <p id="no-members"></p>
        <ul id="chat-list">
        </ul>
    </div>
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    <div class="number"></div>

    <script>
        var roomName = "{{ room_name|escapejs }}";
        let numOfParticipants = 0
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + roomName + '/');
        document.querySelector(".number").innerHTML = `there are ${numOfParticipants} participants in the chat`
        chat_url = window.location.href
        document.querySelector("#no-members").innerHTML = `No Members on the chat yet. share the url: ${chat_url}`


        chatSocket.onopen = function (e) {
            console.log(e)
        }

        chatSocket.onmessage = function (e) {
            if (document.querySelector("#no-members"))
                document.querySelector("#no-members").remove();
            var data = JSON.parse(e.data);
            var message = data['message'];
            chatList = document.querySelector("#chat-list")
            li = document.createElement("li")
            li.innerHTML = `{{ user_name }} : ${message}`
            chatList.appendChild(li)
        };

        chatSocket.onclose = function (e) {
            numOfParticipants -= 1
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message, 
                'author': "{{ user_name }}",
                'chat_id': "{{ room_name|escapejs }}"
            }));

            messageInputDom.value = '';
        };

    </script>
</body>


</html>