#callaby {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: darkblue;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.chat {
    position: absolute;
    right: 120px;
    bottom: 120px;
    width: 50vw;
    height: 400px;
    color: black;
    border: 1px solid black;
}

.hidden{
    display: none;
}