body {
    margin: 0;
}

#root {
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
}

.login-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: white;
    color: #20254C;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.login-submit {
    width: 300px;
    height: 30px;
    background-color: #20254C;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;

}

.login-logo {
    display: flex;
    position: absolute;
    transform: translate(50%, -50%);
    justify-content: center;
    align-items: center;
    top: 0;
    right: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #20254C;
    border: 1px solid rgb(53, 60, 114);
    color: white
}

.login-form div {
    margin-bottom: 20px;
}


.login-form input {
    width: 300px;
    height: 30px;
    font-size: 15px;
    color: #20254C;
    border: 1px solid rgb(53, 60, 114);
}

#id_username {
    background: url(https://image.flaticon.com/icons/png/512/44/44948.png) no-repeat scroll 7px 7px;
    background-size: 15px;
    background-position: 270px;
    left: 0;
    /* padding-left:30px; */
    margin-bottom: 10px;

}

#id_password {
    background: url(https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/password-512.png) no-repeat scroll 7px 7px;
    background-size: 17px;
    background-position: 270px;
    left: 0;
    /* padding-left:30px; */
    margin: 10px 0;

}

.form {
    display: flex;
    flex-direction: column;
}

.login-form h2{
    margin:0;
}