.admin-wrapper{
    display: flex;
}

.admin-menu{
    width: 20%;
}
.admin-content{
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    width:100%;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(64px);
}
.table-container{
    padding: 15px;
}

.admin-widget{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:13vw;
    height: 150px;
    background-color:  rgba(25,147,147,0.2);
    color: aqua;
    margin: 10px;
}
.admin-widget h1{
    margin: 0;
}
.admin-widget h2{
    font-size: 15px;
    margin: 0;
}
.widgets-header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}